		#container {
	position: absolute;
/*	border: 1px solid #000;*/
/*	text-align:center;*/
	width: 100%;
	height: 80%;
	z-index: 1;
	left: auto;
	top: auto;
}
        #container2 {
	position:relative;
/*	border: 1px solid #000;*/
	width: 17%;
	height: 50%;
	z-index: 2;
	left: 39%;
	top: 20%;
}
        .yingyin{
        	text-shadow: 3px 3px 3px #008B8B;
        }
        .center{
        	text-align: center;
        }
        
        
        body {
/*	background-color: #FFFFFF;*/
	background-image: url(../img/tu.jpg);
}